/* Font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* common style or utilities */
* {
  margin: 0px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

/* header section style  */
header {
  font-family: "Poppins", sans-serif;
  background-color: #264653;
}
.bike-bg p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  color: #e0e0e0;
}
.btn-bike {
  width: 168px;
  height: 44px;
  background: #e76f51;
  border-radius: 5px;
  color: white;
  border: none;
}
.btn-bike:hover {
  background: #264653;
  color: white;
  cursor: pointer;
  border: 1px solid white;
}

/* featured bike  */
.featured-bike .text-colored {
  color: #e76f51;
  font-weight: 600;
}
.text-colored {
  color: #e76f51;
}
.featured-bike img {
  width: 288px;
  height: 243px;
}
.featured-bike .img-scale img {
  filter: grayscale(100%);
}

/* client Review */
.client .client-name {
  color: #23a6f0;
  font-weight: 600;
}
.client .client-profession {
  color: #252b42;
  font-weight: 600;
}
/* Frequently Asked Questions */
.asked-photo img {
  width: 431.2px;
  height: 423.5px;
}

/* Most Searched Bike  */
.btn-view {
  width: 168px;
  height: 44px;
  background-image: linear-gradient(#ffb75e, #f37335);
  border-radius: 5px;
  color: white;
  border: none;
  text-align: center;
}

.btn-view:hover {
  background: white;
  border: 1px solid #f37335;
  color:#F37335;
  cursor: pointer;
}
